.qr--body {
    text-align: center;
    margin-top: 5%;
}

.qr--Cascader {
    width: 300px;
}

.qr--button {
    margin-left: 8%;
}

@media only screen and (max-width: 800px) {
    .qr--body {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .qr--button {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .qr--Cascader {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        width: 60%;
    }
}