.text--generation {
    margin-left: 100px !important;
    text-align: center;
    position: relative;
    left: 10%;
}

.Cascader {
    margin-top: 100px;
    width: 400px !important;
    text-align: center;
    position: relative;
    left: 5%;

}

.Header {
    height: 7vh;
}

@media only screen and (min-width: 600px) {
    .Cascader {
        left: 30%;
    }

    .text--generation {
        left: 30%;
    }

}